* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  background: #fff;
  color: #0C1B36; }

html, body {
  overflow-x: hidden;
  height: auto; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none; }
  a:hover, a:focus {
    text-decoration: none; }

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 8px 0 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  background: #fff;
  width: 100%; }

input {
  border: 1px solid #022A6A;
    border-radius: 8px;
  height: 40px; }

button {
  border: none;
  padding: 0;
  cursor: pointer; }

.label-text {
  color: #0C1B36;
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto", sans-serif; }

label {
  display: block;
  margin: 0 0 16px; }

.label-group input {
  width: 142px;
  margin: 0 7px; }

.form {
  max-width: 368px;
  width: 100%;
  margin: 0 auto; }
  .form a {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto; }
  .form button, .form .btn {
    max-width: none;
    margin: 23px auto 0;
    width: 100%; }

.container {
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  max-width: 1800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 1;
  position: relative; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 42px;
  border: none;
  radius: 4px;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  max-width: 240px;
  border-radius: 4px; }

.btn-accent {
  background: -webkit-gradient(linear, left top, left bottom, from(#F3D576), to(#C29A1B)), -webkit-gradient(linear, left top, left bottom, from(#F0DDA2), to(#C6A987));
  background: linear-gradient(180deg, #F3D576 0%, #C29A1B 100%), linear-gradient(180deg, #F0DDA2 0%, #C6A987 100%);
  color: #163D8E; }
  .btn-accent:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#F3D576), to(#C29A1B)), -webkit-gradient(linear, left top, left bottom, from(#F0DDA2), to(#C6A987));
    background: linear-gradient(180deg, #F3D576 0%, #C29A1B 100%), linear-gradient(180deg, #F0DDA2 0%, #C6A987 100%);
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    color: #163D8E; }
  .btn-accent:focus {
    background: -webkit-gradient(linear, left top, left bottom, from(#C29A1B), to(#F3D576)), -webkit-gradient(linear, left top, left bottom, from(#F0DDA2), to(#C6A987));
    background: linear-gradient(180deg, #C29A1B 0%, #F3D576 100%), linear-gradient(180deg, #F0DDA2 0%, #C6A987 100%);
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    color: #163D8E; }

.btn-blue {
  background: #163D8E;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 20px; }
  .btn-blue:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#163D8E), to(#1E5FE7));
    background: linear-gradient(180deg, #163D8E 0%, #1E5FE7 100%);
    color: #fff;
    -webkit-box-shadow: 0px 4px 4px rgba(13, 55, 124, 0.32);
            box-shadow: 0px 4px 4px rgba(13, 55, 124, 0.32); }
  .btn-blue:focus {
    color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#1E5FE7), to(#163D8E));
    background: linear-gradient(180deg, #1E5FE7 0%, #163D8E 100%);
    -webkit-box-shadow: 0px 4px 4px rgba(13, 55, 124, 0.32);
            box-shadow: 0px 4px 4px rgba(13, 55, 124, 0.32); }

.btn-menu {
  display: none; }

.list-lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 29px 0 auto; }
  .list-lang li {
    margin: 0 20px 0 0; }
    .list-lang li:last-child {
      margin: 0; }
    .list-lang li a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 36px;
      height: 24px; }
      .list-lang li a img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover; }

h1 {
  width: 100%;
  font-size: 48px;
  font-weight: bold;
  margin: 0 0 40px; }
  h1 span {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(32.14%, #143879), color-stop(85.71%, #1352C5));
    background: linear-gradient(180deg, #143879 32.14%, #1352C5 85.71%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

h2 {
  width: 100%;
  font-size: 40px;
  font-weight: bold;
  text-align: center; }
  h2 span {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(32.14%, #143879), color-stop(85.71%, #1352C5));
    background: linear-gradient(180deg, #143879 32.14%, #1352C5 85.71%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.w-100 {
  width: 100%; }

header {
  left: 0;
  top: 0;
  z-index: 3;
  width: 100%;
  position: fixed;
  padding: 19px 0;
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  header .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  header .logo {
    display: none; }

.scroll {
  background: #022a6a; }
  .scroll .menu, .scroll .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.logo {
  max-width: 75px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1); }

.menu {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 0 48px; }
  .menu li {
    margin: 0 32px 0 0; }
    .menu li:last-child {
      margin: 0; }
    .menu li a {
      color: #fff;
      font-size: 18px;
      font-weight: 500; }

.video-iframe {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.trend-strategies {
  padding: 104px 0 16px;
  position: relative;
  background: #fff; }
  .trend-strategies .container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 94px 0 116px; }
  .trend-strategies::before, .trend-strategies:after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%; }
  .trend-strategies::before {
    background: url("../img/bg1.jpeg") no-repeat center;
      background-size: cover;
    opacity: 0.3; }
  .trend-strategies::after {
    background: url("../img/bg2.png") no-repeat center;
      background-size: cover;
    opacity: 0.8; }

.trend-strategies__left {
  max-width: 812px;
  width: 100%; }

.box-text {
  line-height: 140%;
  font-size: 18px; }
  .box-text p {
    margin: 0 0 30px; }
    .box-text p:last-child {
      margin: 0; }

.trend-strategies__right {
  font-size: 20px;
  text-align: center;
  max-width: 719px;
  width: 100%;
  -webkit-box-shadow: 0px 2px 8px #E8EBF9;
          box-shadow: 0px 2px 8px #E8EBF9;
  background: #fff;
  border-radius: 8px;
  padding: 21px 33px 21px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .trend-strategies__right h3 {
    margin: 0 auto 26px;
    font-weight: bold;
    font-size: 24px; }
    .trend-strategies__right h3 span {
      background: -webkit-gradient(linear, left top, left bottom, color-stop(32.14%, #143879), color-stop(85.71%, #1352C5));
      background: linear-gradient(180deg, #143879 32.14%, #1352C5 85.71%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }

.trend-strategies__img {
  max-width: 176px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  overflow: hidden;
  -webkit-filter: drop-shadow(0px 2px 6px rgba(26, 106, 165, 0.24));
          filter: drop-shadow(0px 2px 6px rgba(26, 106, 165, 0.24)); }

.trend-strategies__text {
  width: calc(100% - 176px);
  padding: 0 0 0 40px; }
  .trend-strategies__text p {
    line-height: 140%; }

.video-box {
  margin: 90px auto 0;
  -webkit-filter: drop-shadow(0px 16px 32px rgba(20, 56, 121, 0.24));
          filter: drop-shadow(0px 16px 32px rgba(20, 56, 121, 0.24));
  width: 100%;
  max-width: 742px;
  height: 416px; }
  .video-box iframe {
    width: 100%;
    height: 100%; }

.mission {
  position: relative;
  overflow: hidden;
  padding: 40px 25px; }
  .mission:after {
    content: '';
    position: absolute;
    opacity: 0.15;
    background: -webkit-gradient(linear, left top, right top, color-stop(9.48%, #FFFFFF), color-stop(74.34%, rgba(255, 255, 255, 0))), url("../img/img2.jpg") no-repeat center;
    background: linear-gradient(90deg, #FFFFFF 9.48%, rgba(255, 255, 255, 0) 74.34%), url("../img/img2.jpg") no-repeat center;
      background-size: cover;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    right: 0;
    width: 100%;
    height: 100%; }
  .mission h2 {
    margin: 0 auto 30px; }
  .mission .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

strong {
  display: inline-block;
  font-weight: bold; }

.color-blue {
  color: #163D8E; }

.mission-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  max-width: 490px;
  width: 100%; }

.mission-img {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8px; }
  .mission-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .mission-img:first-child {
    margin: 0 0 0 auto;
    width: 330px;
    height: 302px;
    position: relative;
    z-index: 2; }
  .mission-img:last-child {
    width: 320px;
    height: 270px;
    margin: -197px 0 0; }
  .mission-img:nth-child(2) {
    bottom: 15px;
    left: 90px;
    z-index: 1;
    position: absolute;
    border-radius: 20px;
    background-blend-mode: multiply;
    mix-blend-mode: multiply;
    max-width: 343px; }
    .mission-img:nth-child(2) img {
      height: auto;
      -o-object-fit: contain;
         object-fit: contain; }

.mission-content {
  width: calc(100% - 490px);
  padding: 0 0 0 80px; }

.programs {
  background: url("../img/bg3.png") no-repeat center top;
    background-size: cover;
  padding: 40px 0;
  position: relative; }
  .programs .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 120px 0 93px; }
  .programs h2 {
    margin: 0 auto -10px; }

.logo-program {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 281px;
  width: 100%; }
  .logo-program:last-child {
    max-width: 180px; }

.programs-content {
  max-width: 906px;
  width: 100%; }

.clients {
  background: radial-gradient(98.04% 472.41% at 99% 93.16%, #062A6B 0%, #1D4FAB 100%), #C4C4C4;
  color: #ffffff;
  position: relative;
  padding: 51px 0;
  overflow: hidden; }
  .clients .container {
    padding: 0 109px 0 102px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .clients::before {
    content: '';
    position: absolute;
    background: #7323B3;
    opacity: 0.56;
    width: 610px;
    height: 610px;
    border-radius: 50%;
    -webkit-filter: blur(150px);
            filter: blur(150px);
    bottom: -58px;
    left: -258px; }
  .clients::after {
    content: '';
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    right: 21px;
    width: 1318px;
    height: 100%;
    background: url("../img/decor-bg.svg") no-repeat center;
      background-size: contain; }
  .clients h2 {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(32.14%, #F6B52E), color-stop(85.71%, #FFD378));
    background: linear-gradient(180deg, #F6B52E 32.14%, #FFD378 85.71%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 100px;
    font-weight: 800;
    line-height: 122px;
    margin: -10px 0;
    text-align: left; }
  .clients h3 {
    font-size: 48px;
    line-height: 59px; }

.clients-content {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px; }
  .clients-content p {
    color: #F9BD41;
    margin: 0 0 4px; }

.clients-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.list-country {
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  margin: 0 110px 0 0; }
  .list-country:last-child {
    margin: 0; }
  .list-country li {
    margin: 0 auto 25px; }
    .list-country li:last-child {
      margin: 0 auto; }

.advantages {
  background: url("../img/bg4.png") no-repeat left center;
    background-size: contain;
  padding: 80px 0;
  position: relative;
  overflow: hidden; }
  .advantages::before, .advantages:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0; }
  .advantages::before {
    width: 471px;
    height: 540px;
    right: 246px;
    background: url("../img/men.png") no-repeat center;
      background-size: 100%;
    z-index: 1; }
  .advantages::after {
    width: 415px;
    height: 475px;
    right: -50px;
    background: url("../img/women.png") no-repeat center;
      background-size: 100%; }
  .advantages .container {
    padding: 0 15px 0 112px;
    max-width: none; }
  .advantages h2 {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto 48px	0; }

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
  -webkit-transition: .3s ease;
  transition: .3s ease; }

.advantages-box {
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  border: 1px solid rgba(227, 227, 227, 0.3);
    border-radius: 4px;
  background: rgba(255, 255, 255, 0.3);
  width: 31.5%;
  margin: 0 0 24px;
  padding: 21px 24px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
  font-weight: 500; }
  .advantages-box:hover {
    color: #F6B52E;
    border-color: rgba(13, 55, 124, 0.5);
    background: rgba(255, 255, 255, 0.5); }
    .advantages-box:hover .advantages-box__icon {
      fill: #3C5EA0; }
    .advantages-box:hover .f-none {
      fill: none;
      stroke: #3C5EA0; }
  .advantages-box p {
    max-width: 232px;
    width: 100%; }

.advantages-box__icon {
  fill: #F6B52E;
  width: 56px;
  min-width: 56px;
  height: 56px; }

.f-none {
  fill: none;
  stroke: #F6B52E; }
  .f-none .path-stroke {
    fill: #F6B52E;
    stroke: #F6B52E; }
  .f-none .path-fill {
    fill: #F6B52E;
    stroke: #F6B52E; }

.advantages-wrapper {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.partners {
  background: #F4F5FA;
  padding: 40px 0; }
  .partners h2 {
    margin: 0 auto 40px; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.color-gold {
  width: 100%;
  color: #DFA52C; }
  .color-gold:hover {
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline; }
  .color-gold:focus {
    color: #D08F06;
    text-decoration: none; }

.partners-box {
  background: #fff;
  width: 48.5%;
  min-height: 370px;
  margin: 0 0 20px;
  padding: 36px 40px 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-shadow: 0px 1px 2px 2px #eaedfb;
          box-shadow: 0px 1px 2px 2px #eaedfb;
  border-radius: 8px;
  border: 1px solid #0d377c;
  font-size: 18px;
  line-height: 140%; }
  .partners-box a.color-gold {
    margin: auto auto 0;
    text-align: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }

.partners-box__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
  margin: 0 auto 20px; }
  .partners-box__logo img {
    max-height: 100%; }

footer {
  color: #fff;
  background: url("../img/footer-bg.png") no-repeat center;
    background-size: cover;
  padding: 43px 0 52px;
  font-size: 14px; }
  footer .logo {
    max-width: 116px;
    margin: 0 44px 0 0; }
  footer .container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }

.mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff; }
  .mail .svg-icon {
    stroke: #fff;
    fill: none;
    width: 24px;
    height: 24px;
    min-width: 24px;
    margin: 0 9px 0 0; }

.address {
  margin: -3px 0 28px;
  font-size: 18px;
  font-weight: 600;
  max-width: 251px;
  width: 100%; }

.list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 18px 0; }
  .list-social li {
    margin: 0 24px 0 0; }
    .list-social li:last-child {
      margin: 0; }
    .list-social li a {
      width: 24px;
      height: 24px;
      min-width: 24px; }
      .list-social li a svg {
        fill: #fff; }
    .list-social li .links-youtube {
      width: 35px;
      min-width: 35px; }

.footer-box-social {
  margin: 0 0 0 auto;
  text-align: right; }
  .footer-box-social p {
    margin: -2px 0 0; }

.copyright {
  font-size: 10px;
  opacity: 0.5; }

.modal__div {
  position: fixed;
  max-width: 432px;
  width: 100%;
  height: 100%;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 101;
  overflow: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  opacity: 0; }

.modal__close, .close-btn {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer; }
  .modal__close svg, .close-btn svg {
    stroke: #143879; }

.modal__wrapper {
  background: #FFFFFF;
  border: 1px solid #022a6a;
    border-radius: 8px;
  width: 100%;
  height: auto;
  overflow: auto;
  margin: 50px auto;
  padding: 24px 20px 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  -webkit-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.16);
  overflow: hidden; }
  .modal__wrapper::before {
    content: '';
    position: absolute;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: url("../img/bg5.jpg") no-repeat center;
      background-size: cover; }
  .modal__wrapper > * {
    position: relative;
    z-index: 1; }
  .modal__wrapper .modal__close, .modal__wrapper .close-btn {
    position: absolute;
    z-index: 2; }
  .modal__wrapper h2 {
    font-size: 30px;
    margin: 0 auto 28px; }

.links-blue {
  width: 100%;
  text-align: center;
  color: #163D8E;
  font-size: 18px; }

.overlay {
  position: fixed;
  display: none;
  background: #000;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  opacity: 0.6; }

.btn-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 32px;
  color: #163D8E;
  font-size: 18px;
  padding: 0 0 0 12px; }
  .btn-next svg {
    stroke: #143879;
    width: 24px;
    height: 24px;
    min-width: 24px;
    margin: 0 20px 0 0;
    fill: none; }

#modal-password {
  max-width: 464px; }
  #modal-password .modal__wrapper::before {
    background: url("../img/img2.jpg") no-repeat center;
      background-size: cover; }

#modal-success {
  max-width: 560px; }
  #modal-success h2 {
    margin: 75px auto; }

#modal-changed-password .modal__wrapper::before {
  background: url("../img/bg6.jpeg") no-repeat center;
    background-size: cover; }

.mobile-menu {
  position: fixed;
  z-index: 10;
  right: 0;
  top: 0;
  background: #143879;
  padding: 35px 24px 29px 40px;
  max-width: 288px;
  width: 100%;
  display: none; }
  .mobile-menu .logo {
    top: 10px;
    left: 9px;
    position: absolute;
    max-width: 90px;
    width: 100%;
    margin: 0;
    display: none; }
  .mobile-menu .menu {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0; }
    .mobile-menu .menu li {
      margin: 0 0 23px;
      width: 100%; }
      .mobile-menu .menu li:last-child {
        margin: 0; }
      .mobile-menu .menu li a {
        text-align: right;
        font-size: 18px; }
  .mobile-menu .btn {
    margin: 40px 0 0 auto; }

.btn-close {
  width: 32px;
  height: 32px;
  margin: 0 7px 45px auto; }
  .btn-close svg {
    stroke: #fff; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1800px) {
  .trend-strategies .container, .programs .container, .advantages .container {
    padding: 0 20px; }
  .trend-strategies__left {
    max-width: 712px; }
  .list-country {
    margin: 0 60px 0 0; }
  .advantages::before {
    height: 486px;
    width: 431px;
    right: 70px; }
  .advantages::after {
    height: 410px;
    width: 360px;
    right: -85px; } }

@media only screen and (max-width: 1600px) {
  .programs {
    background: #fff; }
    .programs::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: url("../img/bg3.png") no-repeat center top;
        background-size: 100%; }
    .programs::after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: url("../img/bg3.png") no-repeat center top;
        background-size: 100%; } }

@media only screen and (max-width: 1500px) {
  h1 {
    font-size: 40px; }
  .trend-strategies__left {
    max-width: 612px; }
  .programs-content {
    max-width: 840px; }
  .advantages::before {
    height: 370px;
    width: 320px;
    right: 70px; }
  .advantages::after {
    height: 325px;
    width: 290px;
    right: -75px; }
  .advantages {
    background-size: cover; } }

@media only screen and (max-width: 1430px) {
  .programs-content {
    max-width: none;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 7px 0 0;
    text-align: center; }
  .programs {
    padding: 77px 0 32px; }
    .programs .container {
      padding: 0 113px 0 93px; }
    .programs h2 {
      margin: 0 auto 27px; } }

@media only screen and (max-width: 1400px) {
  .menu {
    margin: 0 0 0 20px; }
    .menu li {
      margin: 0 20px 0 0; }
      .menu li a {
        font-size: 16px; }
  .trend-strategies__left {
    max-width: 960px;
    text-align: center;
    margin: 0 auto; }
  h1 {
    text-align: center;
    margin: 0 auto 32px; }
  .trend-strategies {
    padding: 45px 0 29px; }
    .trend-strategies .box-text p {
      margin: 0 0 16px; }
      .trend-strategies .box-text p:last-child {
        margin: 0; }
  .trend-strategies__right {
    margin: 32px auto;
    max-width: 726px; }
    .trend-strategies__right h3 {
      margin: 0 auto 46px; }
  .video-box {
    margin: 0 auto; }
  .mission-images {
    max-width: 540px; }
  .mission-content {
    width: calc(100% - 540px); }
  .clients .container {
    padding: 0 40px; }
  .advantages::before {
    width: 290px;
    height: 340px;
    right: 50px; }
  .advantages::after {
    width: 240px;
    height: 280px;
    right: -60px; } }

@media only screen and (max-width: 1200px) {
  main {
    height: 704px; }
  header {
    padding: 18px 0; }
  .list-lang li {
    margin: 0 16px 0 0; }
    .list-lang li a {
      width: 24px;
      height: 16px; }
  .menu li a {
    font-size: 15px; }
  .mission-img:nth-child(2) {
    display: none; }
  .mission-images {
    max-width: 203px; }
  .mission-img:first-child {
    width: 100%;
    height: 172px;
    margin: 0 auto 13px; }
  .mission-img:last-child {
    width: 100%;
    margin: 0;
    height: 172px; }
  .mission-content {
    width: calc(100% - 203px);
    padding: 0 0 0 44px; }
  .mission {
    padding: 53px 12px 49px	5px; }
  .programs {
    position: relative; }
    .programs::before {
      background: url("../img/bg3.png") no-repeat left top;
        background-size: 1788px; }
    .programs::after {
      background-position: right top;
      background-size: 1788px; }
  .list-country {
    margin: 0 30px 0 0; }
  .advantages {
    padding: 41px 0 52px; }
    .advantages:before, .advantages:after {
      display: none; }
    .advantages h2 {
      max-width: none;
      margin: 0 auto 32px; }
  .advantages-wrapper {
    max-width: none; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 1100px) {
  .scroll .menu {
    display: none; }
  header .btn {
    display: none; }
  header .btn-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 101px; }
  .list-lang {
    margin: 0 27px 0 auto; }
  .logo {
    max-width: 85px; }
  .trend-strategies::before {
    display: none; }
  .clients-content {
    width: 100%;
    margin: 0 auto 35px;
    text-align: center; }
  .clients {
    padding: 27px 0; }
    .clients::before {
      top: -130px;
      left: -274px;
      bottom: auto; }
    .clients:after {
      right: auto;
      left: 0;
      width: 2000px;
      top: -20px;
      -webkit-transform: none;
              transform: none; }
    .clients h2 {
      text-align: center; }
  .list-country {
    margin: 0; }
    .list-country li {
      margin: 0 0 22px; }
  .clients-wrapper {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .advantages-box {
    width: 356px;
    border-color: rgba(60, 94, 160, 0.8);
    margin: 0 0 16px; }
    .advantages-box:last-child {
      margin: 0 auto; }
  .advantages-wrapper {
    max-width: 800px;
    margin: 0 auto; }
  .advantages {
    background: url("../img/bg4-tablet.png") no-repeat center;
      background-size: cover; }
  .partners {
    padding: 40px 0 4px; }
  .partners-box {
    width: 49%;
    margin: 0 0 24px;
    padding: 35px 10px 22px;
    min-height: 402px; }
  footer {
    background: -webkit-gradient(linear, left top, left bottom, from(#0D377C), to(#062558));
    background: linear-gradient(180deg, #0D377C 0%, #062558 100%);
    padding: 15px 0 16px; }
    footer .logo {
      margin: 0 34px 0 0; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  footer {
    padding: 25px 0 50px; }
    footer .container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    footer .logo {
      margin: 0 auto 30px;
      max-width: 104px; }
  .footer-box-social {
    margin: 45px auto 0;
    text-align: center; }
    .footer-box-social p {
      margin: 0; }
  .list-social {
    margin: 20px auto	30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .address {
    text-align: center;
    margin: 0 auto 12px; }
  .partners-box {
    min-height: 382px;
    padding: 34px 8px 24px;
    font-size: 16px;
    margin: 0 0 16px; }
    .partners-box a.color-gold {
      font-size: 18px; }
  .partners-box__logo {
    height: 120px;
    margin: 0 auto 22px; }
  .partners {
    padding: 32px 0; }
    .partners h2 {
      margin: 0 auto 33px; }
    .partners .container {
      padding: 0 8px; }
  .advantages-box {
    width: 49%; }
  .programs .container {
    padding: 0 8px; } }

@media only screen and (max-width: 675px) {
  .advantages-box {
    width: 100%; }
    .advantages-box p {
      margin: 0 auto; }
  .advantages {
    background: transparent;
    position: relative; }
    .advantages::before, .advantages::after {
      content: '';
      position: absolute;
      width: 731px;
      height: 212px;
      bottom: 0;
      background: url("../img/bg3.png") no-repeat 40px top;
        background-size: 100%;
      display: block; }
    .advantages::before {
      -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
              transform: matrix(1, 0, 0, -1, 0, 0);
      right: 0; }
    .advantages::after {
      left: 0;
      -webkit-transform: rotate(-180deg);
              transform: rotate(-180deg); }
    .advantages .container {
      padding: 0 10px; }
  .clients .container {
    padding: 0 8px; }
  .mission-images {
    display: none; }
  .mission-content {
    width: 100%;
    padding: 0; }
  .mission {
    text-align: center;
    padding: 7px 0 30px; }
    .mission .container {
      padding: 0 15px; } }

@media only screen and (max-width: 575px) {
  .trend-strategies, .mission {
    background: #fff; }
    .trend-strategies::after, .mission::after {
      display: none; }
  .partners-box {
    width: 100%;
    min-height: 382px;
    padding: 34px 8px 24px;
    font-size: 16px;
    margin: 0 0 16px; }
    .partners-box a.color-gold {
      font-size: 18px; }
  .clients {
    padding: 22px 0 17px; }
    .clients h2 {
      font-size: 80px;
      line-height: 98px; }
    .clients h3 {
      font-size: 44px;
      line-height: 54px; }
    .clients::before {
      height: 680px;
      top: -148px; }
    .clients::after {
      top: 0;
      width: 100%;
      height: 100%;
      background: url("../img/decor-bg-phone.svg") no-repeat right top;
        background-size: contain; }
  .clients-content {
    font-size: 32px;
    line-height: 39px;
    margin: 0 auto 44px; }
  .list-country {
    width: 50%;
    margin: 0 0 22px; }
  .logo-program:last-child {
    display: none; }
  .logo-program {
    margin: 0 auto 16px; }
  .programs {
    padding: 45px 0 42px;
    background: url("../img/bg3-phone.png") no-repeat center top;
      background-size: 100%; }
    .programs::before, .programs::after {
      display: none; }
    .programs h2 {
      margin: 0 auto 30px; }
  .trend-strategies .container {
    padding: 0 3px; }
  .video-box {
    height: 207px; }
  .trend-strategies {
    padding: 39px 0 25px; }
    .trend-strategies .box-text {
      font-size: 16px; }
  .trend-strategies__right {
    padding: 24px 9px; }
  .trend-strategies__text {
    width: 100%;
    padding: 0;
    margin: 34px auto 0; }
    .trend-strategies__text h3 {
      margin: 0 auto 15px; }
  .trend-strategies__img {
    max-width: 171px;
    margin: 0 auto; }
  main {
    height: 254px;
    margin: 89px 0 0; }
  .mobile-menu {
    max-width: none; }
    .mobile-menu .logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
  .logo {
    max-width: 90px; }
  header {
    padding: 10px 0;
    background: #143879; }
    header .logo, header .btn-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    header .container {
      padding: 0 16px 0 9px; }
  .btn-close {
    width: 24px;
    height: 24px;
    margin: 0 0 55px auto; }
  .mobile-menu {
    padding: 33px 15px 37px 10px; }
  .modal__wrapper {
    padding: 29px 16px 32px; }
    .modal__wrapper h2 {
      font-size: 24px;
      margin: 0 auto 23px; }
  .form button {
    height: 40px; }
  .modal__div, #modal-password, #modal-success {
    max-width: 360px; }
  .label-group input {
    margin: 0 1px; }
  .label-text {
    font-size: 16px; }
  .btn-next {
    padding: 0;
    margin: 0 0 23px; }
  #modal-success h2 {
    margin: 49px auto; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 360px) {
  .advantages-box {
    font-size: 16px; }
  h2 {
    font-size: 36px; }
  .logo-program {
    max-width: 280px; }
  .box-text {
    font-size: 16px; }
  h1 {
    font-size: 38px; }
  .partners-box {
    font-size: 14px; } }
